<%- include header %>
<form method="post">
    <div id="form_div">
        <input class="input" placeholder="Set your name?" type="text" name="name"/><br/>
        <input class="input" placeholder="Set your password?" type="password" name="password"/><br/>
        <input class="input" placeholder="Confirm your password?" type="password" name="password-repeat"/><br/>
        <input class="input" placeholder="Set active name?" type="text" name="activename"/><br/>
        <input class="input" type="submit" value="注册"/>
        <p id="forget_p">
    </div>
</form>
<%- include footer %>