<%- include header %>

    <form method="post">
        <div id="form_div">
        <input class="input" type="text" placeholder="What is your name?" name="name"/><br />
        <input class="input"type="password" placeholder="What is your password?" name="password"/><br />
        <input class="input"type="submit" value="登录"/><br/>
            <!--<a href="/reg"><input class="input" type="button" value="注册"></a>-->
            <p id="forget_p">忘记密码?</p>
        </div>
    </form>

<%- include footer %>