<%- include header %>
    <div style="height: 1200px;border: 1px solid black">

        <div class="col-md-2" id="title_div" style="height: 100%;background-color: #373d47">
            <div class="row" style="height: 70px;border: 2px solid black">
                <h1 class="h0_title">后台管理</h1>
            </div>
            <div class="row" style="height: 60px;border: 2px solid black">
                <div class="col-md-3" style="height: 100%;background-color: #373d47">
                    <div class="p_div">
                        <p class="p_title">g</p>
                    </div>
                </div>
                <div class="col-md-9" style="height: 100%;background-color: #373d47">
                    <h1 class="h1_title">用户管理</h1>
                </div>

                <!--<div class="col-md-1" style="height: 100%;background-color: #373d47">-->
                    <!--<p class="p_title">></p>-->
                <!--</div>-->
            </div>
            <div class="row" style="height: 60px;border: 2px solid black">
                <div class="col-md-3" style="height: 100%;background-color:#373d47">
                    <p class="p_title">Y</p>
                </div>

                <div class="col-md-9" style="height: 100%;background-color: #373d47">
                    <h1 class="h1_title">活动管理</h1>
                </div>
            </div>
            <div class="row" style="height: 60px;border: 2px solid black">
                <div class="col-md-3" style="height: 100%;background-color: #373d47">
                    <p class="p_title">K</p>
                </div>

                <div class="col-md-9" style="height: 100%;background-color: #373d47">
                    <h1 class="h1_title">文件管理</h1>
                </div>

            </div>
            <div class="row" style="height: 60px;border: 2px solid black">
                <div class="col-md-3" style="height: 100%;background-color: #373d47">
                    <p class="p_title">8</p>
                </div>

                <div class="col-md-9" style="height: 100%;background-color: #373d47">
                    <h1 class="h1_title">后台统计</h1>
                </div>

            </div>
            <div class="row" style="height: 60px;border: 2px solid black">
                <div class="col-md-3" style="height: 100%;background-color: #373d47">
                    <p class="p_title">(</p>
                </div>

                <div class="col-md-9" style="height: 100%;background-color: #373d47">
                    <h1 class="h1_title">个人设置</h1>
                </div>

            </div>

        </div>
        <div class="col-md-10" id="body_div" style="height: 100%;background-color: white">
            <div class="row" style="height: 50px;border: 2px solid black;background-color: #373d47"></div>
            <p class="p_title">abcdefgh</p>
            <p class="p_title">qwertyuiop</p>
            <p class="p_title">asdfghjkl</p>
            <p class="p_title">zxcvbnm</p>
            <p class="p_title">ZXCVBNM</p>
            <p class="p_title">ASDFGHJKL</p>
            <p class="p_title">QWERTYUIOP</p>
            <p class="p_title">1234567890</p>
            <p class="p_title">[]\;',./</p>
            <p class="p_title">`<>?L:"{})(*&^%$#@!</p>
            <p class="p_title">(</p>
        </div>
    </div>
<%- include footer %>