<%- include header %>
<div id=win_login style="position: fixed;display:none; z-index:999;left:50%; top:50%; width:600px; height:400px; margin-left:-300px; margin-top:-200px; border:1px solid #888; background-color:#edf; text-align:center">
    <div style="height: 40px;width: 100%;background-color: white;border: 1px solid black">
        <p id="win_title"><p>
    </div>
    <div style="margin-top:20px;">
        <form method="post" action="/activity_reg">
            <table valign="center" style="text-align:right;margin:auto;">
                <tr><td>活动名称:</td><td><input type="text" name="name"/><td></tr>
                <tr><td>活动主题:</td><td><input type="text" name="title"/><td></tr>
                <tr><td>活动负责人:</td><td><input type="text" name="director"/><td></tr>
                <tr><td>联系电话:</td><td><input typ="tel" name="tel"/><td></tr>
                <tr><td>活动地址:</td><td><input type="text" name="address"/><td></tr>
                <tr><td>活动开始时间:</td><td><input type="Date" name="start_time"/><td></tr>
                <tr><td>活动结束时间:</td><td><input type="Date" name="end_time"/><td></tr>
                <tr><td>设定管理员:</td><td><input type="text" name="manage_name"/><td></tr>
                <tr><td>设定密码:</td><td><input type="password" nam="password"/><td></tr>
                <tr><td>显示排名:</td><td><label><input name="Fruit" checked="checked" type="radio" value="0" />显示 </label> <label><input name="Fruit" type="radio" value="1" />不显示</label> <td></tr>
                <tr><td>备注:</td><td><input type="text" name="remark"/><br />
            </table>

            <input type="submit" value="创建"/>

        </form>
    </div>

</div>
<div id=win_background style="position: fixed;display:none; z-index:998;left:0%; top:0%; width:100%; height:100%; border:1px solid #888;  background: rgba(255, 255, 255, 0.9);text-align:center">
</div>
<script>
    function openLogin(div_name){
        document.getElementById("win_title").innerText=div_name;
        document.getElementById("win_login").style.display="";
        document.getElementById("win_background").style.display="";
        document.getElementById("win_background").addEventListener('click',closeLogin);
    }
    function closeLogin(){
        document.getElementById("win_login").style.display="none";
        document.getElementById("win_background").style.display="none";
        document.getElementById("win_background").removeEventListener('click',closeLogin);
    }
</script>
<div style="margin-top:20px;">
    <div class="row" id="row_title" ><p>用户管理</p></div>
    <div class="row" id="row_fn" >
        <div id="row_fn1" >
            <div id="row_fn1_ac">
                <a href="javascript:openLogin('注册商户');"><span>+添加商户</span></a>
            </div>
            <div id="row_fn1_ac">
                <a href="javascript:openLogin('注册客户');"><span>+添加客户</span></a>
            </div>
            <div id="row_fn1_ac">
                <a href="javascript:openLogin('注册负责人');"><span>+添加负责人</span></a>
            </div>
            <div id="row_fn1_ac">
                <a href="javascript:openLogin('注册业务员');"><span>+添加业务员</span></a>
            </div>
        </div>

    </div>
    <div class="row" id="row_con">
        <div style="text-align:center;margin-top:20px">
            <table border="10" valign="center" style="margin:auto;width: 90%;font-size: 20px;">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>活动名称</th>
                    <th>负责人</th>
                    <th>地点</th>
                    <th>开始时间</th>
                    <th>结束时间</th>
                    <th>管理</th>
                    <th>发布</th>
                    <th>备注</th>
                </tr>
                </thead>


            </table>
        </div>
    </div>
</div>
<%- include footer %>