<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>ManageSystem</title>
    <link  href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!--HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries-->
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <!--对IE8以下IE浏览器的样式的支持-->
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <style>
        div{
            border:1px solid black;
        }


        #row_fn1_ac{
            float:right;
            width:100px;
            margin-right: 25px;
            margin-top: 10px;
            height: 40px;
            background-color: red;
            border:1px solid black
        }

    </style>
    <script type="text/javascript">
        var goods = document.getElementById("goods");
        var sort = document.getElementById("sort");
        var total = document.getElementById("total");
        var content = document.getElementById("content");
        function getData(classname){
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open("GET", "/ajax/" + classname, true);
            xmlHttp.onreadystatechange = function () {
                if (xmlHttp.readyState == 4) {
                    if (xmlHttp.status == 200) {

                        var data = eval("(" + xmlHttp.responseText + ")");
                        content.innerHTML=data;
                    }
                }
            }
            //            //发送请求
            //            xmlHttp.send(null);
        }
//
    </script>

</head>
<body>
