<%- include header %>

<div id=win_login style="position: fixed;display:none; z-index:999;left:50%; top:50%; width:600px; height:400px; margin-left:-300px; margin-top:-200px; border:1px solid #888; background-color:#edf; text-align:center">
    <div style="height: 40px;width: 100%;background-color: white;border: 1px solid black">
        <p id="win_title"><p>
    </div>
    <div style="margin-top:20px;">
        <form method="post" action="/goods_add">
            <table valign="center" style="text-align:right;margin:auto;">
                <tr><td>品牌名称:</td><td><input type="text" name="name"/><td></tr>
                <tr><td>品牌商姓名:</td><td><input type="text" name="bsmname"/><td></tr>
                <tr><td>品牌商电话:</td><td><input typ="tel" name="bsmphone"/><td></tr>
                <tr><td>品牌商登录密码:</td><td><input type="text" name="bsmpassword"/><td></tr>
                <tr><td>店铺地址:</td><td><input type="text" name="goodsaddress"/><td></tr>
                <tr><td>业务员姓名:</td><td><input type="text" name="ssmname"/><td></tr>
                <tr><td>业务员密码:</td><td><input type="text" name="ssmpassword"/><td></tr>
                <tr><td>业务员联系电话:</td><td><input type="text" name="ssmphone"/><td></tr>
                <tr><td>任务数量:</td><td><input type="text" name="tasknum"/> <td></tr>
            </table>

            <input type="submit" value="添加"/>

        </form>
    </div>

</div>
<div id=win_background style="position: fixed;display:none; z-index:998;left:0%; top:0%; width:100%; height:100%; border:1px solid #888;  background: rgba(255, 255, 255, 0.9);text-align:center">
</div>


<script>
    function openLogin(div_name){
        document.getElementById("win_title").innerText=div_name;
        document.getElementById("win_login").style.display="";
        document.getElementById("win_background").style.display="";
        document.getElementById("win_background").addEventListener('click',closeLogin);
    }
    function closeLogin(){
        document.getElementById("win_login").style.display="none";
        document.getElementById("win_background").style.display="none";
        document.getElementById("win_background").removeEventListener('click',closeLogin);
    }
</script>
<div>
  

  <div style="height: 100px;border: 1px solid black;"> </div>
  <div style="border:1px solid black;">
      <div class="container">
        <div style="height: 100px;margin-top: 30px;">
            <div class="col-md-1" style="height: 70px;border: 1px solid black"></div>
            <div class="col-md-3" id='goods' onclick="getData('goods')" style="height: 70px;border: 1px solid black;margin-top: 10px"><span>参加活动的品牌</span></div>
            <div class="col-md-3" id='sort' onclick="getData('sort')" style="height: 70px;border: 1px solid black;margin-top: 10px"><span>排名</span></div>
            <div class="col-md-3" id='total' onclick="getData('total')" style="height: 70px;border: 1px solid black;margin-top: 10px"><span>统计</span></div>
            <div class="col-md-2" style="height: 70px;border: 1px solid black"></div>
        </div>
          <div style="height:70px;margin-top: 30px">

                  <div id="row_fn1_ac">
                      <a href="javascript:openLogin('添加品牌');"><span>+添加品牌</span></a>
                  </div>

          </div>
          <div id="content" style="margin-top: 30px;margin-bottom: 30px;">


          </div>
      </div>
    <div>

</div>
</>
    <script type="text/javascript">
        var goods = document.getElementById("goods");
        var sort = document.getElementById("sort");
        var total = document.getElementById("total");
        var content = document.getElementById("content");
        function getData(classname){
//            var xmlHttp = new XMLHttpRequest();
//            alert("/ajax/" + classname)
            var url="/ajax/" + classname;
            var xhr=new XMLHttpRequest();
            xhr.open("GET",url,true);
            xhr.onreadystatechange = function(){
                if (xhr.readyState == 4) {
                    if (xhr.status == 200) {

                        var data = eval("(" + xhr.responseText + ")");
                        if(classname=='goods'){
                            showgoods(data.goods);
                        }
                    }
                }
            }
        xhr.send(null);
        }
        function showgoods(goods){
            table=" <table border='10' valign='center' style='margin:auto;width: 90%;font-size: 20px;'>"+
                    "<thead>"+
                    "<tr>"+
                    "<th>序号</th>"+
                    "<th>品牌</th>"+
                    "<th>任务数</th>"+
                    "<th>商户</th>"+
                    "<th>商户密码</th>"+
                    "<th>业务员</th>"+
                    "<th>业务员密码</th>"+
                    "<th>修改</th>"+
                    "</tr>"+
                    "</thead>";

            for(var i=0;i<goods.length;i++){
                table=table+" <tr>"+
                        "<td>"+i+"</td>"+
                        "<td>"+goods[i].name+"</td>"+
                        "<td>"+goods[i].tasknum+"</td>"+
                        "<td>"+goods[i].bsmname+"</td>"+
                        "<td>"+goods[i].bsmpassword+"</td>"+
                        "<td>"+goods[i].ssmname+"</td>"+
                        "<td>"+goods[i].ssmpassword+"</td>"+
                        "<td>"+"</td>"+
                        "</tr>";
            }

            content.innerHTML=table+"</table>";

        }
        //
        getData('goods');
    </script>
<%- include header %>